.navigation {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgba(250, 250, 27, 0.779);
}

.navigation a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.navigation a:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
}
